:root {
    --color-light-grey: #dfe1e5;
    --color-grey: #9aa0a6;
    --color-black: #021526;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Helvetica, sans-serif;
    color: var(--color-black);
}
.task-container {
    width: 1080px;
    margin-inline: auto;
}
h1 {
    margin: 16px 0;
    font-size: 40px;
}
.input-task,
.task-display,
.task-item {
    border: 1px solid var(--color-light-grey);
}
.input-task {
    width: 100%;
    padding: 8px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}
#taskInput {
    border: none;
    height: 30px;
    flex-grow: 1;
    margin-left: 10px;
}
#taskInput:focus {
    outline: none;
}
button {
    width: 34px;
    height: 34px;
    background-color: white;
    border: none;
    cursor: pointer;
}
.task-display {
    width: 100%;
    border-radius: 24px;
    padding: 8px;
}
.task-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    padding: 8px;
    margin-bottom: 8px;
}
.task-item:last-child {
    margin-bottom: 0;
}
.task-text {
    margin-left: 10px;
}
.task-remove-button {
    margin-left: auto;
}
.task-checkbox {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.task-checkbox:checked + p {
    text-decoration: line-through;
}
.material-symbols-outlined {
    color: var(--color-grey);
    transition: all 0.3s ease-in-out;
}
.material-symbols-outlined:hover {
    color: var(--color-black);
}
@media screen and (max-width: 428px) {
    .task-container {
        width: 85%;
    }
    h1 {
        font-size: 32px;
    }
}
